.cart{
  padding: 20px 20px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100vh - 65px);

  &__button{
    width: 100%;
    color: $button_text_color;
    background-color: $button_success-color;
    padding: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 13px;
    border-radius: 8px;
    line-height: 19px;
  }
  &__list{
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  &__item{
    width: 100%;
    display: flex;
    background-color: $bg_color;
    color: $text_color;
    border-radius: 25px;
    justify-content: space-between;
    position: relative;
    align-items: flex-start;
    min-height: 100px;
  }
  &__item-image{
    width: 95px;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  &__item-content{
    padding: 12px 12px 12px 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  }
  &__item-name{
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    font-size: 15px;
  }
  &__item-price{
    margin: 15px 10px 10px;
    font-size: 14px;
    display: inline-flex;
    color:$button_success-color;
    border: 1px solid $button_success-color;
    border-radius: 5px;
    padding: 2px 6px;
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
    font-weight: bold;
  }
  &__item-remove-button{
    position: absolute;
    right: -15px;
    bottom: 15px;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $button_danger-color;
    color:$text_color;
    box-shadow: $btn_shadow;
    svg{
      width: 12px;
      height: 12px;
      *{
        fill: $button_text_color;
        stroke: $button_text_color;
      }
    }
  }
  .quality-control{
    border-radius: 8px;
    padding: 0 8px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: $secondary_bg_color;
    height: 30px;
    box-shadow:$shadow;
    &__button{
      color: $text-color;
      border: none;
      background-color: transparent;
      padding: 0;
      svg{
        width: 12px;
        height: 12px;
        *{
          fill: $text_color;
          stroke: $text_color;
        }
      }
    }
    &__value{
      text-align: center;
      width: 25px;
      font-size: 11px;
      padding: 0 5px;

    }
  }
}
.mini-cart{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  background: $bg_color;
  font-size: 13px;
  margin-top: 15px;
  padding: 10px;
  &__title{
    color:$hint_color;
    font-size: 12px;
  }
  &__item{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $secondary_bg_color;
    &:last-child{
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  &__item-title{
    font-weight: bold;
  }
  &__item-hint{
    color: $hint_color;
    font-size: 12px;
  }
  &__item-count{
    font-weight: bold;
  }
}